In [4]:
import numpy as np
import pandas as pd 
import seaborn as sns
import math
from IPython.display import Image
import warnings ; warnings.filterwarnings('ignore')

In [5]:
a =[2,4,6,8]
index = ['a','b','c','d']
s = pd.Series(a,index=index)
s

a    2
b    4
c    6
d    8
dtype: int64

In [6]:
numbers = [[1,2,3],[4,5,6],[7,8,9,]]
numbers = pd.DataFrame(numbers)
numbers

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
order  = [["2021-08-01",500,"confirmed"],["2021-08-05",700,"confirmed"],["2021-08-10",200,"canceled"]]
columns = ["date","price","state"]
order = pd.DataFrame(order,columns =columns)
order

         date  price      state
0  2021-08-01    500  confirmed
1  2021-08-05    700  confirmed
2  2021-08-10    200   canceled

In [9]:
date = ["2021-08-01","2021-08-05","2021-08-10"]
price = [500,700,200]
state=["confirmed","confirmed","canceled"]

order= {"date":date, 
        "price":price,
        "state":price,
       }
order = pd.DataFrame(order)
order

         date  price  state
0  2021-08-01    500    500
1  2021-08-05    700    700
2  2021-08-10    200    200

In [10]:
len(date)

3

In [11]:
//////

SyntaxError: invalid syntax (<ipython-input-11-a56ec7f8a9c8>, line 1)

In [12]:
tips =sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [13]:
##판다스 활용 데이터 전처리

In [14]:
tips1.loc[0,'time']= 'Lunch'
tips1

NameError: name 'tips1' is not defined

In [15]:
tip

NameError: name 'tip' is not defined