In [1]:
# 판다스와 넘파이
import pandas as pd
import numpy as np

# 이미지
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#머신러닝
import lightgbm as lgb
from lightgbm import LGBMRegressor

# 검증 평가
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error

# 기타
from tqdm import tqdm
import warnings ; warnings.filterwarnings('ignore')

In [2]:
# train 데이터, date 컬럼 datetime 데이터로 변경
train = pd.read_csv(r'C:\phj\2\train.csv', encoding='cp949')
train['date_time'] = pd.to_datetime(train['date_time'])

# test 데이터, date 컬럼 datetime 데이터로 변경
test = pd.read_csv(r'C:\phj\2\test.csv', encoding='cp949')
test['date_time'] = pd.to_datetime(test['date_time'])

In [3]:
train.head()

,num,date_time,temperature,windspeed(m/s),humidity(%),precipitation(mm),sunshine(hr),non_electric_cooling_system,solar_cell,consumption(kWh)
0,1,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,0,0,8179.056
1,1,2020-06-01 01:00:00,17.7,2.9,91.0,0.3,0.0,0,0,8135.640
2,1,2020-06-01 02:00:00,17.5,3.2,91.0,0.0,0.0,0,0,8107.128
3,1,2020-06-01 03:00:00,17.1,3.2,91.0,0.0,0.0,0,0,8048.808
4,1,2020-06-01 04:00:00,17.0,3.3,92.0,0.0,0.0,0,0,8043.624

In [4]:
test.head()

,num,date_time,temperature,windspeed(m/s),humidity(%),precipitation(mm),sunshine(hr),non_electric_cooling_system,solar_cell
0,1,2020-06-01 06:00:00,16.7,3.4,90.0,0.1,0.0,0,0
1,1,2020-06-01 11:00:00,22.1,3.6,52.0,0.0,1.0,0,0
2,1,2020-06-01 13:00:00,23.1,5.1,42.0,0.0,1.0,0,0
3,1,2020-06-02 02:00:00,15.9,1.1,78.0,0.0,0.0,0,0
4,1,2020-06-02 04:00:00,15.5,0.9,79.0,0.0,0.0,0,0

In [5]:
train.drop_duplicates(subset = ['num', 'non_electric_cooling_system', 'solar_cell']).dropna()

,num,date_time,temperature,windspeed(m/s),humidity(%),precipitation(mm),sunshine(hr),non_electric_cooling_system,solar_cell,consumption(kWh)
0,1,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,0,0,8179.056
1632,2,2020-06-01 01:00:00,18.8,2.3,89.0,0.0,0.0,1,0,966.168
3264,3,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,1,1,3183.624
4896,4,2020-06-01 00:00:00,22.6,0.7,62.0,0.0,0.0,1,1,339.552
6528,5,2020-06-01 00:00:00,18.3,2.5,94.0,0.0,0.0,1,0,3063.744
8160,6,2020-06-01 01:00:00,17.2,2.3,99.0,0.1,0.0,0,0,518.940
9792,7,2020-06-01 01:00:00,17.7,2.9,91.0,0.3,0.0,1,0,1298.592
11424,8,2020-06-01 00:00:00,19.1,1.1,73.0,0.0,0.0,1,1,4801.977
13056,9,2020-06-01 00:00:00,20.3,1.1,74.0,0.0,0.0,0,1,1255.932
14688,10,2020-06-01 00:00:00,18.3,2.5,94.0,0.0,0.0,1,0,417.960
16320,11,2020-06-01 00:00:00,18.3,2.5,94.0,0.0,0.0,0,0,581.040
17952,12,2020-06-01 00:00:00,17.1,2.6,94.0,0.1,0.0,1,1,441.072
19584,13,2020-06-01 00:00:00,19.0,0.7,80.0,0.0,0.0,1,0,640.872
21216,14,2020-06-01 00:00:00,18.6,0.7,94.0,0.0,0.0,1,1,1084.536
22848,15,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,1,0,2392.254
24480,16,2020-06-01 02:00:00,18.4,1.2,94.0,0.0,0.0,1,1,1506.924
26112,17,2020-06-01 02:00:00,17.5,3.2,91.0,0.0,0.0,1,0,472.770
27744,18,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,0,0,1408.941
29376,19,2020-06-01 00:00:00,18.3,2.5,94.0,0.0,0.0,0,0,640.062
31008,20,2020-06-01 03:00:00,17.1,3.2,91.0,0.0,0.0,0,0,821.340
32640,21,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,0,1,1103.544
34272,22,2020-06-01 00:00:00,19.9,1.4,83.0,0.0,0.0,1,0,850.176
35904,23,2020-06-01 01:00:00,19.3,0.9,89.0,0.0,0.0,0,1,1375.515
37536,24,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,1,1,2268.864
39168,25,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,1,0,1087.344
40800,26,2020-06-01 00:00:00,19.4,0.8,81.0,0.0,0.0,0,1,1952.424
42432,27,2020-06-01 00:00:00,20.2,2.0,64.0,0.0,0.0,1,1,537.300
44064,28,2020-06-01 00:00:00,18.3,2.5,94.0,0.0,0.0,1,0,1355.508
45696,29,2020-06-01 00:00:00,19.1,1.7,94.0,0.0,0.0,0,0,357.210
47328,30,2020-06-01 00:00:00,19.3,2.2,99.0,0.0,0.0,1,1,5032.908
48960,31,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,0,5606.064
50592,32,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,0,0,2343.384
52224,33,2020-06-01 00:00:00,19.9,1.4,83.0,0.0,0.0,1,0,2529.360
53856,34,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,1,530.388
55488,35,2020-06-01 00:00:00,17.1,2.6,94.0,0.1,0.0,1,0,553.824
57120,36,2020-06-01 00:00:00,18.5,1.3,95.0,0.0,0.0,0,1,797.472
58752,37,2020-06-01 00:00:00,19.9,1.9,60.0,0.0,0.0,1,1,1476.720
60384,38,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,1,3356.640
62016,39,2020-06-01 01:00:00,18.7,1.2,85.0,0.0,0.0,1,1,1097.523
63648,40,2020-06-01 00:00:00,19.9,1.4,83.0,0.0,0.0,1,1,1897.983
65280,41,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,1,0,411.966
66912,42,2020-06-01 00:00:00,17.1,2.6,94.0,0.1,0.0,1,1,3024.000
68544,43,2020-06-01 00:00:00,20.7,0.8,65.0,0.0,0.0,1,1,1044.360
70176,44,2020-06-01 00:00:00,19.5,1.9,89.0,0.0,0.0,1,1,1697.436
71808,45,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,0,1,847.368
73440,46,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,0,675.648
75072,47,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,1,1298.592
76704,48,2020-06-01 00:00:00,17.1,2.6,94.0,0.1,0.0,0,0,340.335
78336,49,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,0,0,943.920
79968,50,2020-06-01 00:00:00,18.3,2.5,94.0,0.0,0.0,0,0,824.040
81600,51,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,0,1,1318.194
83232,52,2020-06-01 02:00:00,17.5,3.2,91.0,0.0,0.0,1,1,2733.480
84864,53,2020-06-01 00:00:00,19.9,1.4,83.0,0.0,0.0,1,0,958.554
86496,54,2020-06-01 00:00:00,17.0,2.0,100.0,1.1,0.0,1,0,5273.424
88128,55,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,1,1400.544
89760,56,2020-06-01 00:00:00,18.4,2.2,86.0,0.0,0.0,0,1,471.096
91392,57,2020-06-01 00:00:00,19.5,1.9,89.0,0.0,0.0,1,0,2401.920
93024,58,2020-06-01 00:00:00,17.6,2.5,92.0,0.8,0.0,1,0,580.608
94656,59,2020-06-01 00:00:00,19.8,1.2,77.0,0.0,0.0,1,0,572.184
96288,60,2020-06-01 00:00:00,17.1,2.6,94.0,0.1,0.0,1,1,2528.496

In [6]:
X = train.drop([ 'date_time','consumption(kWh)'], axis = 1)
Y = train['consumption(kWh)']
X_test = test.drop('date_time', axis = 1)

In [7]:
X.head()

,num,temperature,windspeed(m/s),humidity(%),precipitation(mm),sunshine(hr),non_electric_cooling_system,solar_cell
0,1,17.6,2.5,92.0,0.8,0.0,0,0
1,1,17.7,2.9,91.0,0.3,0.0,0,0
2,1,17.5,3.2,91.0,0.0,0.0,0,0
3,1,17.1,3.2,91.0,0.0,0.0,0,0
4,1,17.0,3.3,92.0,0.0,0.0,0,0

In [14]:
n_splits = 10
sfk =StratifiedKFold(n_splits = n_splits)

y_pred =np.zeros(len(X_test))

for tr_idx, val_idx in sfk.split(X, X['num']):      
    X_train =X.iloc[tr_idx,:]
    Y_train =Y[tr_idx]

    X_val =X.iloc[val_idx,:]
    Y_val =Y[val_idx]

    lgb =LGBMRegressor(n_estimators = 10000, learning_rate= 0.1,objective = 'mse')
    lgb.fit(X_train, Y_train, eval_set=[(X_val, Y_val)], early_stopping_rounds= 50,verbose = 100,eval_metric= 'mbo')
    y_pred +=lgb.predict(X_test) / n_splits

Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 356155
[200]	valid_0's l2: 353514
Early stopping, best iteration is:
[235]	valid_0's l2: 351844
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 515982
[200]	valid_0's l2: 508055
[300]	valid_0's l2: 507169
Early stopping, best iteration is:
[285]	valid_0's l2: 505974
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 615973
[200]	valid_0's l2: 610686
Early stopping, best iteration is:
[160]	valid_0's l2: 610212
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 555158
Early stopping, best iteration is:
[103]	valid_0's l2: 554533
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 581740
Early stopping, best iteration is:
[87]	valid_0's l2: 579694
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 580480
[200]	valid_0's l2: 566918
[300]	valid_0's l2: 564893
Early stopping, best iteration is:
[275]	valid_0's l2: 562889
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 747143
[200]	valid_0's l2: 740950
Early stopping, best iteration is:
[219]	valid_0's l2: 739094
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 803311
[200]	valid_0's l2: 798207
[300]	valid_0's l2: 802041
Early stopping, best iteration is:
[269]	valid_0's l2: 796504
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 803156
[200]	valid_0's l2: 793024
[300]	valid_0's l2: 788094
Early stopping, best iteration is:
[322]	valid_0's l2: 787311
Training until validation scores don't improve for 50 rounds
[100]	valid_0's l2: 639134
[200]	valid_0's l2: 630871
Early stopping, best iteration is:
[186]	valid_0's l2: 628039